body {
    background-color: #ECEEEF;
    text-align: center;
    font-family: "Geneva", sans-serif;
}

footer {
  flex-grow: 0;
}
        
        body,html{
   height:100%;
}

.pagecontainer {
    background-color: white;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 12px;
}

.custom-select:focus,
.form-control:focus {
     border-color: #D1604D;
     outline: 0;
     box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 1);
 }

.container {
    margin-top: 20pt;
}
.outer {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.title {
    padding-top: 36pt;
}

.subtitle {
    padding-top: 10pt;
}

.button {
    background-color: #D1604D;
    border-color: #D1604D;
    width: 120pt;
    height: 35pt;
    margin-bottom: 10pt;
}

@media screen and (min-width: 48em){
    body{
        text-align: left;
    }

    .title {
        padding-left: 50pt;
    }

    .subtitle {
        padding-left: 111pt;
    }
    #addtobasket {
        float: right;
        margin-right: 10pt;
    }
}

.main {
    flex-grow: 1;
}
.cupcakedropdown {
    width: 200pt;
    height: fit-content;
}


h1 {
    font-weight: bold;
}

p {
    font-weight: normal;
}

h2 {
    font-weight: 500;
    font-size: 25pt;
}